* {}

body {
	font-family: helvetica;
	background-color: #fff;
	margin: 0;

	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;

  	cursor: crosshair;/*url("../res/pointer.png"), auto;*/
}

section {
	margin: 0 auto;
}

html, body, #container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#container {
    display: table;
}

#inner {
    display: table-cell;
    margin: 0;
    padding: 0;

    text-align: center;
    vertical-align: middle;
}

#board {
    width: 640px;
    height: 480px;
    margin: auto;
}

#loading {
  line-height: 12pt;
  color: rgb(230, 74, 149);
  position: absolute;
  top:40%;
  left:50%;
  width:300px;
  height:160px;
  z-index: 100;
  margin-top: -80px;
  margin-left: -150px;
  text-align: center;

}

#loading a {
  color: rgb(200, 44, 119);
}